/*
author 		  github.com/lierante
repository	github.com/lierante/caramel
created		  06/06/2021
published		07/13/2021
updated		  07/20/2021, no version
license		  MIT License
*/

:root {
    /* disable */
   --shadow-elevation-16dp_-_box-shadow:none !important;
    /* caramel palette */
   --bg-caramel-1:#eee8dd;
   --bg-caramel-2:#e2dbcc;
   --bg-caramel-3:#b1a592;
   --bg-caramel-4:#837a6c;
   --ff-toolbar-bg:#5a503f;
   --yt-spec-general-background-a:var(--bg-caramel-1) !important;
   --yt-spec-general-background-b: var(--bg-caramel-1) !important;
   --yt-spec-10-percent-layer:rgba(0, 0, 0, 0) !important;
    /* text */
   --font-insert:"CozetteVector";
   --paper-font-common-base_-_font-family:var(--font-insert);
   --fn-caramel-1:#000;
   --yt-spec-text-primary:var(--fn-caramel-1) !important;
   --yt-spec-text-secondary:var(--yt-spec-text-primary) !important;
   --yt-spec-static-overlay-text-primary:#000 !important;
   --yt-spec-call-to-action:var(--yt-spec-text-primary) !important;
   --yt-button-color:var(--yt-spec-text-primary);
   --yt-button-icon-button-text-color:var(--yt-spec-text-primary);
    /* live */
   --yt-spec-brand-background-primary:var(--bg-caramel-1) !important;
    --yt-live-chat-vem-background-color:var(--bg-caramel-1) !important;
    /* other */
   --yt-spec-badge-chip-background:transparent !important;
   --yt-spec-icon-disabled:transparent !important;
   --yt-spec-icon-inactive:#0000 !important; /* this border */
   --yt-spec-static-brand-red:var(--yt-spec-text-primary) !important;
   --yt-spec-themed-blue:var(--fn-caramel-1) !important; /*about*/
    /* popup */
   --iron-overlay-backdrop-opacity:0.2 !important;
   --iron-overlay-backdrop-background-color:#414141;
   --yt-spec-brand-background-solid:var(--bg-caramel-1) !important;
    /* text adjust */
   --ytd-user-comment_-_font-size:15px !important;
   --ytd-user-comment_-_letter-spacing:0px !important;
    /* tool */
   --ytd-toolbar-height:36px !important;
}

ytd-app {
   font-family:var(--font-insert);
}

/* bar */

#container.ytd-searchbox,
ytd-button-renderer #button.ytd-button-renderer, /*sign in */
ytd-searchbox[has-focus] #container.ytd-searchbox { 
    background-color:var(--bg-caramel-1) !important;
    border: none;
    box-shadow:none;
}

/* container & search bar */ ::-moz-placeholder,
#search-icon-legacy.ytd-searchbox ,#search-icon-legacy.ytd-searchbox:hover {
    opacity:0;
}

#container.ytd-searchbox input.ytd-searchbox {
    font-family:var(--font-insert);
    color:var(--fn-caramel-1);
}

#container.ytd-masthead { /* theater bar */
    background-color:var(--bg-caramel-1) !important;
    height:42px;
}

ytd-topbar-menu-button-renderer yt-icon, #button.ytd-topbar-menu-button-renderer { /* non visible settings next to sign in stuff */
    display:block !important; opacity:1;
}

/* home page */

#contents.ytd-rich-grid-renderer {
    margin-top: -30px; /* this is being watched, bc its weird */
    margin-left:-40px;
    justify-content: center;
    --ytd-rich-grid-items-per-row: 4;
}

ytd-thumbnail-overlay-endorsement-renderer {
    /* she has also viewed this channel:hover */
    outline:1px solid #000;
}

ytd-rich-grid-renderer ytd-thumbnail-overlay-time-status-renderer { /* homepage efect */
    outline:1px solid #000;
    left:-8px;
    margin-bottom: -0px;
    color: #000;
    font-family:"CozetteVector";
    font-size:var(--ytd-user-comment_-_font-size);
    background-color:var(--bg-caramel-3);
    padding: 3px 8px;
    height: 12px;
    width:370px;
}

ytd-thumbnail.ytd-grid-video-renderer ytd-thumbnail-overlay-time-status-renderer { /* channel page effect */
    outline:1px solid #000;
    left:-8px;
    margin-bottom: -0px;
    color:var(--bg-caramel-1);
    font-family:"CozetteVector";
    font-size:var(--ytd-user-comment_-_font-size);
    background-color:var(--bg-caramel-1);
    padding: 3px 8px;
    height: 12px;
    width:370px;
}

ytd-playlist-panel-video-renderer ytd-thumbnail-overlay-time-status-renderer,
.ytd-video-renderer ytd-thumbnail-overlay-time-status-renderer {
    outline:1px solid #000;
    left:-8px;
    margin-bottom: -0px;
    color: #000;
    font-family:"CozetteVector";
    font-size:var(--ytd-user-comment_-_font-size);
    background-color:#eee8dd;
    padding: 3px 8px;
    height: 12px;
    width:370px;
}

#details.ytd-rich-grid-media {
    background:var(--bg-caramel-2);
    padding:2px 4px 12px 4px;
    border-bottom:12px solid var(--bg-caramel-4);
    background-size:100%;
    overflow:hidden !important;
    outline:1px solid #000;
}

ytd-rich-grid-media #video-title.ytd-rich-grid-media { /* was called "ytd-rich-grid-media[mini-mode]" */
	margin-left:2px;
	padding:3px;
	border:1px solid #000;
	background:var(--bg-caramel-1);
	border-radius:8px;
	font-weight:200;
    font-size:30px;
}

#dismissible.ytd-rich-grid-media {
    width:97%;
}

/* thumbnail */

ytd-thumbnail #thumbnail.ytd-thumbnail yt-img-shadow.ytd-thumbnail { /* avoid size reduction on zoom */
    transform: translateY(-50%);
    filter:opacity(70%);
    left:0px;
    width: 101%;
}

ytd-thumbnail #thumbnail.ytd-thumbnail {
	/* effects on homepage / channel page, bg color was F2CE79 */
	background-color:transparent;
	/*effects main video page border */
	outline:1px solid #000;
	width:100%;
}

ytd-thumbnail.ytd-grid-video-renderer {
    width:98%;
}

/* channel */

#contents.ytd-item-section-renderer #thumbnail.ytd-thumbnail,
ytd-playlist-thumbnail #thumbnail.ytd-playlist-thumbnail,
ytd-grid-renderer #thumbnail.ytd-thumbnail {
    /*channel page effect  & channel page playlist effect */
	outline:1px solid #000;
	width:95%;
    height:105px;
    top:3px;
}

#author-thumbnail.ytd-post-renderer yt-img-shadow.ytd-post-renderer, /*homepage post author */
ytd-channel-renderer[use-prominent-thumbs] yt-img-shadow.ytd-channel-renderer,
#avatar.ytd-c4-tabbed-header-renderer/* channel effect */ {
    border-radius:5px; outline:1px solid #000;
}

ytd-c4-tabbed-header-renderer[has-channel-art] .banner-visible-area.ytd-c4-tabbed-header-renderer { /* channel cover remove */
    height: calc(100vw / 6.2 - 1px);
    display:none;
}

.arrow.yt-horizontal-list-renderer,
/* search page arrow effect */
.arrow.ytd-horizontal-card-list-renderer, .ytd-horizontal-card-list-renderer[arrow] {
    cursor: pointer;
    width: 24px;
    margin-top:81px;
    height: 25px;
    border-radius: 2px;
    background-color: var(--yt-spec-brand-background-solid);
    box-shadow:none;
    border:1px solid #000;
}

/* channel - experimental */

/*remove first page stuff */
/* the meta lines in the timer bar fly away */
/* so i have to hide anything in the home section of channel*/
/* until i find a solution */
ytd-video-renderer[is-backstage-video] ytd-thumbnail.ytd-video-renderer, /* community video thumb */
#grid-container.ytd-expanded-shelf-contents-renderer > .ytd-expanded-shelf-contents-renderer,
#primary.ytd-two-column-browse-results-renderer dismissible.ytd-shelf-renderer,
#primary.ytd-two-column-browse-results-renderer ytd-button-renderer[is-icon-button][has-no-text],
h2.ytd-shelf-renderer, .grid-subheader.ytd-shelf-renderer,
#scroll-container.yt-horizontal-list-renderer {
    display:none;
}

#details.ytd-grid-video-renderer a.ytd-grid-video-renderer {
    display: block;
    background-color:var(--bg-caramel-1);
    border:1px solid #000;
    width:140px;
    padding:4px;
    margin-left:32px;
    opacity:0;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

#details.ytd-grid-video-renderer a.ytd-grid-video-renderer:hover {
    opacity:1;
}

#metadata-line.ytd-grid-video-renderer {
      text-align:center;
      font-size:12px;
      line-height:20px;
}

#items.ytd-grid-renderer #metadata-line.ytd-grid-video-renderer {
    margin-left:15px;
    margin-top:16px;
    width:200px;
}

#meta.ytd-grid-video-renderer {
    padding-right: 24px;
    margin-left:-5px;
    position:absolute;
    top:-110px;
}

.ytd-grid-video-renderer[meta-block].grid.ytd-grid-video-renderer #metadata.ytd-grid-video-renderer {
    display:inline;
    position:absolute; /* make metadata stay in timer bar */
    top:66px;
}

tp-yt-paper-tabs.ytd-c4-tabbed-header-renderer {
    --paper-tabs-selection-bar_-_border-bottom-width: 0px;
}
tp-yt-paper-tab.ytd-c4-tabbed-header-renderer:hover {
       color:#a3a599;
}

tp-yt-paper-tab.iron-selected.ytd-c4-tabbed-header-renderer  {
       display:none;
}

tp-yt-iron-icon.tp-yt-paper-icon-button {
      background-color:var(--bg-caramel-2);
      border:1px solid #000;
    --iron-icon-width: 100%;
    --iron-icon-height: 100%;
      margin-top:-13px;
      margin-left:-16px;
}

#channel-header-container.ytd-c4-tabbed-header-renderer #button.ytd-button-renderer { /* sub button */
    display:none;
    border:1px solid #000;
}

#tabsContent.tp-yt-paper-tabs {
    background-color:var(--bg-caramel-2);
    padding-top:2px;
    height:21px;
    margin-left:2px;
    border:1px solid #000;
}

#channel-header-container.ytd-c4-tabbed-header-renderer {
    padding:0px 60px 3px 12px;
    border-radius:5px;
    display:block !important;
}

ytd-channel-sub-menu-renderer {
    margin-top:-21px;
    display:none;
}

#tabsContent.tp-yt-paper-tabs > :not(#selectionBar) {
    width:35px;
}

#tabsContent.scrollable.tp-yt-paper-tabs {
    width:806px;
}

iron-input.tp-yt-paper-input > input.tp-yt-paper-input {
    padding-bottom:2px;
    width:200px;
    font-family:var(--font-insert);
}
ytd-expandable-tab-renderer yt-icon,
ytd-expandable-tab-renderer[show-input] yt-icon-button.ytd-expandable-tab-renderer,
yt-icon-button.ytd-expandable-tab-renderer {
    display:block !important;
    margin-left:-20px;
}


ytd-playlist-thumbnail.ytd-grid-playlist-renderer {
    background-color:#7c7466;
}

ytd-thumbnail-overlay-now-playing-renderer {
    opacity: 1;
    font-size:0px;
    background-size:100%;
    text-align: center;
    transition: opacity 0.3s;
    z-index: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 0.007px;
    text-transform: uppercase;
}

#like-button.ytd-comment-action-buttons-renderer yt-icon, #dislike-button.ytd-comment-action-buttons-renderer yt-icon,
#like-button.ytd-comment-action-buttons-renderer #button.ytd-toggle-button-renderer, #dislike-button.ytd-comment-action-buttons-renderer #button.ytd-toggle-button-renderer {
    display:block !important;
}

/* search page */
#title.ytd-shelf-renderer, ytd-shelf-renderer.ytd-item-section-renderer,
#content-section.ytd-channel-renderer, #more.ytd-vertical-list-renderer, #video-title.ytd-child-video-renderer, #length.ytd-child-video-renderer, ytd-horizontal-card-list-renderer.ytd-item-section-renderer:not(:first-child) {
    display:none;
}

#time.ytd-video-renderer,
ytd-movie-renderer[use-prominent-thumbs] .thumbnail-container.ytd-movie-renderer,
yt-img-shadow.ytd-video-renderer,
ytd-video-renderer[use-prominent-thumbs] ytd-thumbnail.ytd-video-renderer, ytd-playlist-renderer[use-prominent-thumbs] ytd-playlist-thumbnail.ytd-playlist-renderer, ytd-radio-renderer[use-prominent-thumbs] ytd-thumbnail.ytd-radio-renderer {
    max-width: 200px;
    min-width: 60px;
	height:110px;
    outline:0px solid #000;
    display:none;
}

ytd-item-section-renderer #video-title.ytd-playlist-renderer,
ytd-item-section-renderer #video-title.ytd-video-renderer {
    color:#994488;
    font-weight:bold;
}

/* trash */
#country-code.ytd-topbar-logo-renderer,
yt-icon,
yt-icon-button,
#tooltip.tp-yt-paper-tooltip, /* disable hover global thing */
ytd-movie-renderer #button.ytd-button-renderer, /* buy or rent movie button in search page */
/* homepage */
ytd-rich-section-renderer, /* remove all group sections in home */
#rich-shelf-header.ytd-rich-shelf-renderer,
/* right list video page */
.spinner-layer.tp-yt-paper-spinner::after, .circle-clipper.tp-yt-paper-spinner .circle.tp-yt-paper-spinner, /* removes loading circle */ .badge-style-type-live-now.ytd-badge-supported-renderer, .badge-style-type-starting-soon.ytd-badge-supported-renderer, /*live*/
.badge-style-type-simple.ytd-badge-supported-renderer, /* new tag 
*/ ytd-compact-video-renderer:not([watch-feed-big-thumbs]) ytd-thumbnail.ytd-compact-video-renderer,
ytd-compact-radio-renderer:not([watch-feed-big-thumbs]) ytd-thumbnail.ytd-compact-radio-renderer,
ytd-compact-playlist-renderer:not([watch-feed-big-thumbs]) ytd-playlist-thumbnail.ytd-compact-playlist-renderer,
/* movie renderer in right list */ ytd-compact-movie-renderer,
#wide-clickable-area.ytd-movie-offer-module-renderer yt-img-shadow.ytd-movie-offer-module-renderer,
/* video/description page */
#sentiment.ytd-video-primary-info-renderer, /* line under like /dislike buts */
#subscribe-button.ytd-video-secondary-info-renderer,/* vid page */
#purchase-button.ytd-channel-renderer, #subscribe-button.ytd-channel-renderer, /* channel page */
ytd-button-renderer.style-suggestive[is-paper-button],/*join*/
ytd-clarification-renderer[background-style="info"], /*covid*/
a.ytd-rich-metadata-renderer, /*youtube kids */
/* player */
.ytp-large-play-button,
.ytp-autonav-toggle-button, /* hide autoplay button */
.iv-branding .branding-img-container img, /* author fly avatar */
/* home thread */
#avatar.ytd-rich-grid-media,
#chips-wrapper.ytd-feed-filter-chip-bar-renderer,
yt-chip-cloud-chip-renderer.ytd-feed-filter-chip-bar-renderer,
/*thumbnail thread */
ytd-moving-thumbnail-renderer, /* disable video preview*/
ytd-thumbnail-overlay-toggle-button-renderer,
#avatar.ytd-rich-grid-media,
#avatar.ytd-video-owner-renderer,
author-thumbnail.ytd-comment-simplebox-renderer,
#author-thumbnail.ytd-comment-simplebox-renderer,
#author-thumbnail.ytd-comment-renderer yt-img-shadow.ytd-comment-renderer,
#author-photo.yt-live-chat-text-message-renderer,
/* guide */
ytd-mini-guide-renderer.ytd-app,
#guide-wrapper.ytd-app,
#contentContainer.tp-yt-app-drawer {   
    display:none;
}

.title.ytd-video-primary-info-renderer {
    padding:1px;
    font-weight:bold;
    font-size:20px;
    font-family:"Arial";
    margin-bottom:5px;
    margin-left:3px;
}

ytd-expander.ytd-video-secondary-info-renderer { /* this changes the description layout from center to left position */
    margin-left: 0px;
}
ytd-author-comment-badge-renderer {
    width:100%;
    background-color:var(--yt-spec-general-background-a);
    --ytd-author-comment-badge-name-color:var(--yt-spec-text-primary) !important;
}

/* settings popup */

ytd-multi-page-menu-renderer[menu-style="multi-page-menu-style-type-system"],
ytd-multi-page-menu-renderer {
    background: var(--bg-caramel-2);
    border: 1px solid #000;
}

tp-yt-paper-item.ytd-compact-link-renderer {
    color: var(--yt-compact-link-color, var(--yt-spec-text-primary));
    background:var(--yt-spec-general-background-a);
    margin-top:10px;
    outline:1px solid #000
}

tp-yt-paper-item.ytd-compact-link-renderer:hover {
    background-color: #f2e1ac;
}

ytd-simple-menu-header-renderer {
    background-color: var(--bg-caramel-2);
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
}

#sections.ytd-multi-page-menu-renderer > .ytd-multi-page-menu-renderer {
    padding: 5px 0;
    margin-top:-10px;
}

ytd-multi-page-menu-renderer[scrollbar-rework] .menu-container.ytd-multi-page-menu-renderer {
    padding:9px;
}

#label.ytd-compact-link-renderer {
    font-family:"CozetteVector";
}

#items.yt-multi-page-menu-section-renderer > .yt-multi-page-menu-section-renderer:not([compact-link-style="compact-link-style-type-disclaimer"]).yt-multi-page-menu-section-renderer {
    background-color: #f2e1ac;
    outline:1px solid #000;
    margin-top:10px;
}

#items.yt-multi-page-menu-section-renderer > .yt-multi-page-menu-section-renderer:not([compact-link-style="compact-link-style-type-disclaimer"]).yt-multi-page-menu-section-renderer:hover {
    background-color: #d0ebff;
}

#submenu.ytd-multi-page-menu-renderer {
    margin-right: 0;
    height:450px; /* reduce choose section height */
}

ytd-compact-link-renderer[compact-link-style="compact-link-style-type-selection-menu"] #content-icon.ytd-compact-link-renderer[hidden] + #primary-text-container.ytd-compact-link-renderer > #label.ytd-compact-link-renderer {
    margin-left: 0px;
}

tp-yt-paper-toast {
    border:1px solid #000;
    border-left:12px solid #000;
    background-color: var(--paper-toast-background-color, #eee8dd);
    min-height: 48px;
    min-width: 228px;
    padding: 2px 12px !important;
    box-sizing: border-box;
    box-shadow:none;
    border-radius: 0px;
    top:-6px !important;
    margin-left:21px;
    font-size: 16px;
    cursor: default;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-font-smoothing: none;
}

/* player */

.ytp-swatch-background-color {
    height:7px;
    background-color:var(--yt-spec-text-primary);
}

.ytp-time-display, .ytp-exp-bigger-button-like-mobile.ytp-small-mode .ytp-time-display {
    font-size: 109%;
    position:absolute;
    background-color:var(--yt-spec-general-background-a);
    padding: 0 5px;
    line-height: 29px;
    margin-top:-45px;
    border:1px solid #000;
    border-radius:1px;
}

.ytp-time-current, .ytp-time-separator, .ytp-time-duration {
    color: var(--yt-spec-text-primary);
    text-shadow:none;
    background-color:var(--yt-spec-general-background-a);
}

/* uploader playlist */

#container.ytd-playlist-panel-renderer yt-icon, .yt-icon-container.yt-icon {
    display:block;
    color:var(--fn-caramel);
}

#container.ytd-playlist-panel-renderer #button.ytd-toggle-button-renderer {
    display:block !important;
    background-color: var(--yt-spec-general-background-a) !important;
}

#thumbnail-container.ytd-playlist-panel-video-renderer {
   outline:1px solid #000;
}

#progress.ytd-thumbnail-overlay-resume-playback-renderer {
      background-image:url("https://media.tenor.com/images/0ecf70aac737b58aa4f6b2aba5bd86a3/tenor.gif"); 
}

/* like, dislike & save interaction */
ytd-modal-with-title-and-button-renderer[modal].ytd-popup-container, 
.buttons.ytd-modal-with-title-and-button-renderer #button.ytd-button-renderer,
.buttons.ytd-modal-with-title-and-button-renderer {
    display:none;
}

/* share or embed view */

.yt-copy-link-renderer {
    border-left: 1px solid #000;
    font-size:15px;
    font-family:"CozetteVector";
}

#bar.yt-copy-link-renderer {
     border:1px solid #000;
     background-color:#f8f8f8;
}

#share-url.yt-copy-link-renderer {
    font-size: 15px;
    font-weight:bold;
    outline:0px;
    color:var(--ff-toolbar-bg);
}

#title.yt-share-target-renderer {
    padding:1px;
    outline:1px solid #000;
    background-color:var(--bg-caramel-1);
    color: var(--yt-spec-text-primary);
    margin-left: 2px;
    width: 63px;
}

ytd-popup-container tp-yt-paper-dialog {
    background:var(--bg-caramel-2);
    margin: 34px 40px;
    border:7px solid var(--ff-toolbar-bg);
    border-top:24px solid var(--ff-toolbar-bg);
    border-radius:2px;
}

ytd-unified-share-panel-renderer {
    max-width: 470px;
    padding: 12px 12px 12px 12px;
    outline:0px; /* prevent borders appearing when clicking */
}

yt-share-panel-header-renderer {
    background-image:url("https://raw.githubusercontent.com/lierante/caramel/main/preview.gif");
    height:268px;
    background-size:100%;
    cursor:zoom-in;
    border:1px solid #000;
}

#title.yt-share-panel-title-v15-renderer {
    visibility: hidden;
}

#title.yt-share-panel-title-v15-renderer:after {
    visibility: visible;
    position: absolute;
    top: -18px;
    left: 10px;
    width:468px;
    padding-left:5px;
    font-family:"CozetteVector";
    content: "author: github.com/lierante/caramel";
}

yt-start-at-renderer.yt-third-party-network-section-renderer {
    margin-top:-30px !important;
    padding-top: 50px;
    border-top: 0px solid var(--yt-spec-10-percent-layer);
}

/* font fix */
/*channel */
#metadata-line.ytd-grid-video-renderer span.ytd-grid-video-renderer,
tp-yt-paper-tab,
#subscriber-count.ytd-c4-tabbed-header-renderer,
#text.ytd-channel-name,
/* channel community */
.vote-percentage.ytd-backstage-poll-renderer, .choice-text.ytd-backstage-poll-renderer,
/* right list */
#video-title.ytd-compact-movie-renderer,
ytd-compact-radio-renderer.use-ellipsis #video-title.ytd-compact-radio-renderer,
#video-title.ytd-compact-radio-renderer,
#video-title.ytd-compact-playlist-renderer, 
#video-title.ytd-compact-video-renderer,
#metadata-line.ytd-video-meta-block,
/* video info, description */ 
a.yt-simple-endpoint.yt-formatted-string,
ytd-toggle-button-renderer,
ytd-button-renderer yt-formatted-string.ytd-button-renderer,
#owner-sub-count.ytd-video-owner-renderer,
.more-button.ytd-video-secondary-info-renderer,
/* comments */
#icon-label.yt-dropdown-menu,
.count-text.ytd-comments-header-renderer,
#count.ytd-comments-header-renderer,
ytd-button-renderer #button.ytd-button-renderer,
#author-text.yt-simple-endpoint.ytd-comment-renderer,
#vote-count-middle.ytd-comment-action-buttons-renderer,
.more-button.ytd-comment {
   font-size:var(--ytd-user-comment_-_font-size);
   font-family:var(--font-insert) !important;
   font-weight:normal;
}
