/*
author 		github.com/lierante
repository	github.com/lierante/caramel
created		06/06/2021
published	07/13/2021
updated		07/17/2021, from version 0.0.1 to 0.0.2
license		MIT License
*/

/* note */
/* my english is really bad but ill try
/* this is still incomplete
/* the theme was only meant for me but wanted to share it
/* sorry if the look in the picture doesnt match yours
/* it might be a font or layout problem
/*
/* only firefox is supported, using the css on chrome will have issues
/* if you want the css working on chrome, then contribute
/* you can contribute to improve the code and fix messy stuff here :)
/*
/* download & install the font
/* https://github.com/slavfox/Cozette/releases/download/v.1.11.3/CozetteVector.ttf
*/

:root {
    /* disable */
    --shadow-elevation-16dp_-_box-shadow:none !important;
    /* bar */
    --ytd-searchbox-text-color:var(--yt-spec-text-primary) !important;
    /* global */
    --font-insert:"CozetteVector";
    --paper-font-common-base_-_font-family:var(--font-insert);
    --yt-spec-text-primary: #000 !important;
    --yt-spec-text-secondary:var(--yt-spec-text-primary) !important;
    --yt-spec-static-overlay-text-primary:#000 !important;
    --yt-spec-call-to-action:var(--yt-spec-text-primary) !important;
    --bg-caramel-1:var(--yt-spec-general-background-a);
    --bg-caramel-3: #e0dad0;
    --bg-caramel-4: #ebebeb;
    --ff-toolbar-bg:#5e5142;
    --yt-spec-general-background:#eee8dd !important;
    --yt-spec-general-background-a: #eee8dd !important;
    --yt-spec-general-background-ab:#e2dbcc !important;    /* description section */
    --yt-spec-10-percent-layer: rgba(0, 0, 0, 0) !important;
    --yt-button-icon-button-text-color:var(--yt-spec-text-primary);
    /* homepage */
    --yt-spec-brand-background-primary:var(--yt-spec-general-background-a) !important;
    /* channel section*/
    --yt-spec-general-background-b: var(--yt-spec-general-background-a) !important;
    --yt-spec-brand-button-background:var(--yt-spec-general-background-a) !important; /* subscribe button background */
    /* playlist */
    --yt-spec-badge-chip-background:transparent !important;
    --yt-spec-icon-disabled:transparent !important; /* color of that scrollbar */
    --yt-spec-static-brand-red:var(--yt-spec-text-primary) !important; /* playlist thumbnail progress bar color */
    /* live */
    --yt-button-color:var(--yt-spec-text-primary);
    --yt-live-chat-vem-background-color:#313131 !important;
    --yt-live-chat-banner-gradient-scrim:transparent !important;
    --yt-spec-brand-link-text:var(--yt-spec-text-primary) !important;
    /* live author */
    --yt-live-chat-secondary-text-color:var(--yt-spec-text-primary) !important;
    --yt-live-chat-primary-text-color:#736b6b !important;  
    /* popup */
    --iron-overlay-backdrop-opacity:0.2 !important;
    --iron-overlay-backdrop-background-color:#414141;
    --yt-spec-brand-background-solid:var(--yt-spec-general-background-a) !important;
    /* alternative global */
    --ytd-user-comment_-_font-size:15px !important;
    /*--ytd-user-comment_-_line-height:5px !important; */
    --ytd-user-comment_-_letter-spacing:0px !important; /* disable default letter spacing */
    
        /* alternative video page position */
    /* this one is strange but a lazy way to position video layout */
    --ytd-toolbar-height:36px !important;
}

/* entry */

ytd-app {
   font-family:var(--font-insert);
}

ytd-button-renderer #button.ytd-button-renderer {
    background-color:var(--yt-spec-general-background-a);
}

#button.ytd-toggle-button-renderer {
    margin-right:1px; /* just like padding, this applies in global */
    margin-bottom:5px;
}

/* bar */

#container.ytd-searchbox { 
    /* it refuses to var with (--yt-spec-general-background-a) when set to theater mode */
    background-color:var(--bg-caramel-1) !important;
    border: none;
    box-shadow:none;
}

#container.ytd-searchbox input.ytd-searchbox {
    /* theater mode searchbox */
    font-family:var(--font-insert);
    color: #000;
}

ytd-searchbox[has-focus] #container.ytd-searchbox {
    /* took me long to find you huh */
    border:none;
    box-shadow:none;
}

#container.ytd-masthead {
    /* this stuff refuses to var with (--yt-spec-general-background-a) */
    background-color:var(--bg-caramel-1) !important;
    height:42px;
}

::-moz-placeholder,
#search-icon-legacy.ytd-searchbox ,#search-icon-legacy.ytd-searchbox:hover{
    opacity:  0;
}

ytd-topbar-menu-button-renderer yt-icon, #button.ytd-topbar-menu-button-renderer { /* non visible settings next to sign in stuff */
    display:block !important;
    opacity:1;
}
ytd-button-renderer #button.ytd-button-renderer { /* sign in border */
    background-color:var(--bg-caramel-1) !important;
    border:none;
}

/* video position */

ytd-watch-flexy:not([theater]):not([fullscreen]) #primary.ytd-watch-flexy, ytd-watch-flexy:not([theater]):not([fullscreen]) #secondary.ytd-watch-flexy,
ytd-watch-flexy[flexy][is-two-columns_][is-extra-wide-video_] #primary.ytd-watch-flexy, ytd-watch-flexy[flexy][is-two-columns_][is-four-three-to-sixteen-nine-video_] #primary.ytd-watch-flexy {
    margin-top:-10px;
}

.ytp-swatch-background-color {
    height:7px;
    background-color:var(--yt-live-chat-vem-background-color);
}

.ytp-time-display, .ytp-exp-bigger-button-like-mobile.ytp-small-mode .ytp-time-display {
    font-size: 109%;
    position:absolute;
    background-color:#eee8dd;
    padding: 0 5px;
    line-height: 29px;
    margin-top:-45px;
    border:1px solid #000;
    border-radius:1px;
}

.ytp-time-current, .ytp-time-separator, .ytp-time-duration {
    color: #000;
    text-shadow:none;
    background-color:#eee8dd;
}

.title.ytd-video-primary-info-renderer {
    padding:1px;
    font-weight:bold;
    font-size:22px;
    font-family:"Arial";
    margin-bottom:5px;
    margin-left:3px;
}

span.ytd-video-view-count-renderer {
     position:absolute;
     margin-left:4px;
     margin-top:-1px;
}

#info-strings.ytd-video-primary-info-renderer {
    color:var(--yt-button-icon-button-text-color);
    font-size:15px;
    position:absolute;
    margin-top:-5px;
}

/* video info */

.title.ytd-video-primary-info-renderer {
    font-weight:bold;
    font-size:20px;
    font-family:"Arial";
}

ytd-expander.ytd-video-secondary-info-renderer { /* this changes the description layout from center to left position */
    margin-left: 0px;
}

/* comment section */

#vote-count-middle.ytd-comment-action-buttons-renderer {
    border:3px solid var(--bg-caramel-3);
    margin-left: 5px;
}

#like-button.ytd-comment-action-buttons-renderer yt-icon, #like-button.ytd-comment-action-buttons-renderer yt-icon-button {
    --yt-button-icon-size:19px;
    color:#000000 !important;
    letter-spacing: 0.007px;
    display: block !important;
    position:absolute;
    left:0px;
    top:25px;
    opacity:0.2;
}

#dislike-button.ytd-comment-action-buttons-renderer yt-icon, #dislike-button.ytd-comment-action-buttons-renderer yt-icon-button {
    --yt-button-icon-size:19px;
    color:#000000 !important;
    letter-spacing: 0.007px;
    display: block !important;
    position:absolute;
    left:10px;
    top:25px;
    opacity:0.2;
}

#creator-heart-button.ytd-creator-heart-renderer {
	display:table-cell;
	background-size:63%;
	background-image: url("https://c.tenor.com/Yf0qNygeLhMAAAAj/hearts-spin.gif");
	border-radius:1px;
    position: relative;
	bottom:0px;
    width: 13px;
    height:13px;
}

#avatar.ytd-video-owner-renderer,
#author-thumbnail.ytd-comment-renderer yt-img-shadow.ytd-comment-renderer{
    border-radius: 5%;
	border:1px solid #000;
}

ytd-author-comment-badge-renderer {
    width:100%;
    background-color:var(--yt-spec-general-background-a);
    --ytd-author-comment-badge-name-color:var(--yt-spec-text-primary) !important;
}

/* channel page */

.arrow.yt-horizontal-list-renderer,
/* search page arrow effect */
.arrow.ytd-horizontal-card-list-renderer, .ytd-horizontal-card-list-renderer[arrow] {
    cursor: pointer;
    width: 24px;
    height: 40px;
    border-radius: 2px;
    background-color: var(--yt-spec-brand-background-solid);
    box-shadow:none;
}

#background.tp-yt-app-header {
	display:block;
    left: 62px;
    overflow: hidden;
    border-radius:2px;
}

/* caramel compact group */
/* ytd-moving-thumbnail-renderer,  disable video preview*/  
ytd-movie-renderer #button.ytd-button-renderer, /* buy or rent movie button in search page */
#country-code.ytd-topbar-logo-renderer,
yt-icon,
yt-icon-button,
.ytp-large-play-button,
#avatar.ytd-rich-grid-media,
#avatar.ytd-video-owner-renderer,
/* #author-thumbnail.ytd-comment-simplebox-renderer,
#author-thumbnail.ytd-comment-renderer yt-img-shadow.ytd-comment-renderer, */
ytd-compact-radio-renderer:not([watch-feed-big-thumbs]) ytd-thumbnail.ytd-compact-radio-renderer,
ytd-compact-playlist-renderer:not([watch-feed-big-thumbs]) ytd-playlist-thumbnail.ytd-compact-playlist-renderer,
/* garbage thread */
ytd-mealbar-promo-renderer[dialog][dialog][dialog], /* random offer popup in video page */
ytd-rich-section-renderer,
ytd-primetime-promo-header-renderer,
#content-wrapper.ytd-statement-banner-renderer,
#panels.ytd-primetime-promo-renderer,
/* thumbnail ground */
ytd-thumbnail-overlay-toggle-button-renderer,
/* guide */
ytd-mini-guide-renderer.ytd-app,
#guide-wrapper.ytd-app,
#contentContainer.tp-yt-app-drawer,
/* other */
.spinner-layer.tp-yt-paper-spinner::after, .circle-clipper.tp-yt-paper-spinner .circle.tp-yt-paper-spinner, /* removes loading circle */
.badge-style-type-simple.ytd-badge-supported-renderer, /* new tag */
#subscribe-button.ytd-video-secondary-info-renderer,
a.ytd-rich-metadata-renderer,
#sentiment.ytd-video-primary-info-renderer,
#author-thumbnail.ytd-comment-simplebox-renderer,
ytd-button-renderer.style-suggestive[is-paper-button] {
    --yt-formatted-string-deemphasize-color: var(--yt-spec-call-to-action); 
    display:none;
}

/* home page */

#chips-wrapper.ytd-feed-filter-chip-bar-renderer {
    position: fixed;
    top: 35px;
    width: 90%;
    z-index: 2000;
    background-color: var(--yt-spec-general-background-a);
    border-top: 0px solid var(--yt-spec-10-percent-layer);
    border-bottom: 0px solid var(--yt-spec-10-percent-layer);
}

#chips.ytd-feed-filter-chip-bar-renderer {
    left:-20px;
    position:relative;
    width:1000px; /* this is probably default */
}

yt-chip-cloud-chip-renderer.ytd-feed-filter-chip-bar-renderer {
    border-radius:5px;
    border:1px solid #000;
    background-color:#ebebeb;
}

.yt-related-chip-cloud-renderer {
    background:var(--yt-spec-general-background);
}

#left-arrow.ytd-feed-filter-chip-bar-renderer, #right-arrow.ytd-feed-filter-chip-bar-renderer {
     opacity:0;
}

#contents.ytd-rich-grid-renderer {
    margin-top: 0px; /* this is being watched, bc its weird */
    margin-left:-40px;
    justify-content: center;
    --ytd-rich-grid-items-per-row: 4;
}

#details.ytd-rich-grid-media {
    background:var(--yt-spec-general-background-ab);
    padding:4px 4px 14px 4px;
    background-size:100%;
    bottom:0px; /* it was -1, but set to 0 bc it causes the border to be bold */
    overflow:hidden !important;
    outline:1px solid #000;
    overflow-x:scroll;
    border-bottom:14px solid var(--yt-spec-general-background-a);
}

ytd-rich-grid-media #video-title.ytd-rich-grid-media { /* was called "ytd-rich-grid-media[mini-mode]" */
	margin-left:2px;
	padding:4px;
	border:1px solid #000;
	background:var(--bg-caramel-4);
	border-radius:8px;
	font-weight:200;
    font-size:30px;
}

/* picture thumbnail */

/* found in search page */
yt-img-shadow.ytd-video-renderer,
#avatar.ytd-c4-tabbed-header-renderer,/* channel page author avatar */
/* video page avatar */
#avatar.ytd-video-owner-renderer,
#author-thumbnail.ytd-comment-renderer yt-img-shadow.ytd-comment-renderer {
    border-radius: 5%;
	border:1px solid #000;	
}

/* video thumbnail */

ytd-thumbnail.ytd-movie-renderer #thumbnail.ytd-thumbnail{
    /* search page movie thumbnail effect */
    height:200px !important;
    margin-right: -80px;
}

.thumbnail-container.ytd-movie-renderer {
    /* search page movie thumbnail position effect */
    margin-left:-184px;
}

ytd-video-renderer[use-prominent-thumbs] ytd-thumbnail.ytd-video-renderer, ytd-playlist-renderer[use-prominent-thumbs] ytd-playlist-thumbnail.ytd-playlist-renderer, ytd-radio-renderer[use-prominent-thumbs] ytd-thumbnail.ytd-radio-renderer {
    /* search page effect */
    margin-right: 16px;
    max-width: 0px;
    min-width: 210px;
}

ytd-player, #container.ytd-player ytd-channel-video-player-renderer {
    /* channel page video introduction effect & video page player effect */
    outline:1px solid #000000;
    margin-left:2px;
}

#contents.ytd-item-section-renderer #thumbnail.ytd-thumbnail,
ytd-playlist-thumbnail #thumbnail.ytd-playlist-thumbnail,
ytd-grid-renderer #thumbnail.ytd-thumbnail {
    /*channel page effect  & channel page playlist effect */
	background-color:transparent;
	outline:1px solid #000;
	width:95%;
    height:105px;
    top:1px;
}

ytd-thumbnail.ytd-rich-grid-media #thumbnail.ytd-thumbnail {
	/* homepage effect & uploaders playlist effect */
	background-color:transparent;
	outline:1px solid #000;
	width:100%;
    height:124px;
}

.ytd-rich-grid-media #thumbnail.fade-in.ytd-moving-thumbnail-renderer {
    /* homepage video thumbnail timer bar:hover */
    top:-19px;
    border-bottom:20px solid var(--yt-spec-general-background-a);
}

ytd-thumbnail-overlay-time-status-renderer  {
    /* video thumbnail timer bar */
    outline:1px solid #000;
    left:-8px;
    margin-bottom: -0px;
    color:var(--yt-spec-primary-text);
    font-family:"Arial";
    font-size:12px;
    background-color:var(--yt-spec-general-background-a);
    padding: 3px 8px;
    height: 12px;
    width:370px;
}

ytd-compact-video-renderer:not([watch-feed-big-thumbs]) ytd-thumbnail.ytd-compact-video-renderer, /* support border */
ytd-thumbnail #thumbnail.ytd-thumbnail yt-img-shadow.ytd-thumbnail {
	outline:2px solid #000000; /* for borders of other videos in the homepage having visibility issues */
}

ytd-thumbnail #thumbnail.ytd-thumbnail yt-img-shadow.ytd-thumbnail {
	filter:opacity(70%);
}

#title.yt-simple-endpoint.ytd-compact-radio-renderer,
#title.ytd-compact-playlist-renderer {
    margin-top:13px;
    padding:5px;
    background:#ebebeb;
    border:1px solid #000;
    border-radius:0px;
    border-radius:4px;
    width:100px;
}

#dismissible.ytd-compact-video-renderer, #dismissed.ytd-compact-video-renderer { /* extends video title */
    width: 108%;
}

/* video page right side */

.details.ytd-compact-video-renderer {
    margin-top:-9px;
}

#meta.ytd-grid-video-renderer {
    padding-right: 24px;
    margin-left:5px;
    margin-top:-12px;
}
.metadata.ytd-compact-video-renderer {
    min-width: 0;
    width: 104%; 
}

ytd-compact-video-renderer:not([watch-feed-big-thumbs]) ytd-thumbnail.ytd-compact-video-renderer {
    margin-top:-7px;
}

ytd-compact-video-renderer {
    top:9px;
}

/* settings popup */

ytd-multi-page-menu-renderer[menu-style="multi-page-menu-style-type-system"],
ytd-multi-page-menu-renderer {
    background: var(--yt-spec-general-background-ab);
    border: 1px solid #000;
}

tp-yt-paper-item.ytd-compact-link-renderer {
    color: var(--yt-compact-link-color, var(--yt-spec-text-primary));
    background:var(--yt-spec-general-background-a);
    margin-top:10px;
    outline:1px solid #000
}

tp-yt-paper-item.ytd-compact-link-renderer:hover {
    background-color: #f2e1ac;
}

ytd-simple-menu-header-renderer {
    background-color: var(--yt-spec-general-background-ab);
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
}

#sections.ytd-multi-page-menu-renderer > .ytd-multi-page-menu-renderer {
    padding: 5px 0;
    margin-top:-10px;
}

ytd-multi-page-menu-renderer[scrollbar-rework] .menu-container.ytd-multi-page-menu-renderer {
    padding:9px;
}

#label.ytd-compact-link-renderer {
       font-family:"CozetteVector";
}

#items.yt-multi-page-menu-section-renderer > .yt-multi-page-menu-section-renderer:not([compact-link-style="compact-link-style-type-disclaimer"]).yt-multi-page-menu-section-renderer {
    background-color: #f2e1ac;
    outline:1px solid #000;
    margin-top:10px;
}

#items.yt-multi-page-menu-section-renderer > .yt-multi-page-menu-section-renderer:not([compact-link-style="compact-link-style-type-disclaimer"]).yt-multi-page-menu-section-renderer:hover {
    background-color: #d0ebff;
}

tp-yt-paper-toast {
    border:1px solid #000;
    border-left:12px solid #000;
    background-color: var(--paper-toast-background-color, #eee8dd);
    min-height: 48px;
    min-width: 228px;
    padding: 2px 12px !important;
    box-sizing: border-box;
    box-shadow:none;
    border-radius: 0px;
    top:-6px !important;
    margin-left:21px;
    font-size: 16px;
    cursor: default;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-font-smoothing: none;
}

#text.yt-notification-action-renderer {
    padding:5px;
    color: var(--yt-spec-static-overlay-text-primary);
}

/* pop up above description section */

.buttons.ytd-modal-with-title-and-button-renderer {
    border-top: 1px solid #000;
    background:var(--yt-spec-general-background-ab);
}

ytd-modal-with-title-and-button-renderer[modal].ytd-popup-container, 
.buttons.ytd-modal-with-title-and-button-renderer #button.ytd-button-renderer {
    outline: 1px solid #000 !important;
    background:var(--yt-spec-general-background-a);
}

/* movie section */

ytd-movie-offer-module-renderer,
ytd-movie-offer-module-renderer img.yt-img-shadow,
ytd-movie-offer-module-renderer ytd-button-renderer {
    border: 1px solid #000;
}

#header.ytd-movie-offer-module-renderer {
   background-color:var(--yt-spec-general-background-ab);
   border-bottom: 1px solid #000;
}

ytd-movie-offer-module-renderer #button.ytd-button-renderer {
    background: var(--yt-spec-general-background-a) !important;
}

ytd-movie-offer-module-renderer img.yt-img-shadow {
    height:150px;
    width:120px;
}

#info.ytd-movie-offer-module-renderer {
    padding:5px;
    height:140px;
}

/* uploader playlist */
#container.ytd-playlist-panel-renderer {
    border: 1px solid #000;
}

#container.ytd-playlist-panel-renderer yt-icon, .yt-icon-container.yt-icon {
    display:block;
    color:#000;
}

#container.ytd-playlist-panel-renderer #button.ytd-toggle-button-renderer {
    display:block !important;
    background-color: var(--yt-spec-general-background-a) !important;
    outline:1px solid #000;
}

.badge-style-type-medium-grey.ytd-badge-supported-renderer {
    height:40px;
    width:50px;
    color: rgba(0, 0, 0, 0);
    position:absolute;
    margin-left:245px;
    margin-top:-23px;
    border:1px solid #000;
    border-radius:5px;
}

#container.ytd-playlist-panel-renderer ytd-menu-renderer {
    padding-bottom: 6px;
    margin-top:10px
}

.header.ytd-playlist-panel-renderer {
    background-color: var(--yt-spec-general-background-ab);
    padding: 16px 16px 0 24px;
    border-bottom:1px solid #000;
}

#thumbnail-container.ytd-playlist-panel-video-renderer {
   outline:1px solid #000;
}

#progress.ytd-thumbnail-overlay-resume-playback-renderer {
      background-image:url("https://media.tenor.com/images/0ecf70aac737b58aa4f6b2aba5bd86a3/tenor.gif"); 
}

/* live section */

.badge-style-type-live-now.ytd-badge-supported-renderer, .badge-style-type-starting-soon.ytd-badge-supported-renderer {
    background: transparent;
    color: var(--yt-spec-brand-link-text);
    border: 1px solid #000;
}

.badge-style-type-live-now.ytd-badge-supported-renderer, .badge-style-type-starting-soon.ytd-badge-supported-renderer {
    color: #000;
}

ytd-thumbnail-overlay-time-status-renderer[overlay-style="LIVE"] {
    background-color:#e5aaa5 ;
}

#author-photo.yt-live-chat-text-message-renderer {
    outline:1px solid #000;
    margin-right: 16px;
    border-radius: 5%;
}

html:not(.style-scope)[watch-color-update] {
    --yt-live-chat-background-color: #212121;
    --yt-live-chat-header-background-color: var(--bg-caramel-1);
    --yt-live-chat-action-panel-background-color: var(--bg-caramel-1);
    --yt-live-chat-message-highlight-background-color: var(--bg-caramel-1);
    --yt-live-chat-ninja-message-background-color: var(--bg-caramel-1);
}

yt-live-chat-header-renderer #label-text.yt-dropdown-menu {
    margin-left:-15px;
    padding:7px;
    font-family:var(--font-insert);
    color:#212121;
    border:1px solid #000; /*outline border was not a bit clear so replaced it with border instead */
    background-color:var(--yt-spec-general-background-a);
}

iframe.ytd-live-chat-frame {
    outline:1px solid #000;
}

yt-live-chat-header-renderer {
    background-color: var(--yt-spec-general-background-ab);
    border-bottom:1px solid #000;
    padding-top:26px;
    padding-bottom:29px;
}

#items.yt-live-chat-ticker-renderer {
    padding: 6px 24px 10px;
    outline:1px solid #000;
}

#container.yt-live-chat-ticker-paid-message-item-renderer {
    background:#e2dbcc !important;
    border-radius: 5px;
    border:1px solid #000;
    padding: 4px;
}

ytd-live-chat-frame #button.ytd-toggle-button-renderer {
    margin-right:0px;  /* avoid global padding change */
}

ytd-live-chat-frame #button.ytd-toggle-button-renderer {
    font-size:4px;
    color: var(--bg-caramel-1, inherit);
    background-color: var(--bg-caramel-2);
    text-transform: inherit;
    outline:1px solid #000;
}

ytd-live-chat-frame ytd-toggle-button-renderer[is-paper-button][align-by-text]:not(:empty) {
    margin-left: -16px;
    display:none;
}

yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer {
    overflow-y:scroll;
    padding-right: 0;
  scrollbar-width:thin;
  scrollbar-color: rgba(25, 25, 25, 0) rgba(255, 255, 255, 0);
}

yt-live-chat-text-message-renderer {
	font-family:var(--font-insert);
    font-size: 17px;
    --yt-endpoint-color: var(--yt-live-chat-primary-text-color, var(--yt-deprecated-luna-black));
    --yt-endpoint-hover-color: var(--yt-live-chat-primary-text-color, var(--yt-endpoint-color));
}

#card.yt-live-chat-viewer-engagement-message-renderer {
    /* welcome to live chat message stuff */
    background-color: var(--yt-live-chat-vem-background-color);
    border-radius: 4px;
    border:1px solid #000;
    padding:13px;
}
.badge-style-type-live-now.ytd-badge-supported-renderer, .badge-style-type-starting-soon.ytd-badge-supported-renderer {
    /* live tag */
    background: transparent;
    color: var(--yt-spec-brand-link-text);
    border: 1px solid var(--yt-spec-brand-link-text);
    position:absolute;
    margin-top:-25px;
    margin-left:85px;
}

/* search page:before */
.sbsb_a {
    position:absolute;
    margin-top:450px;
    background-color:var(--bg-caramel-1); 
    background-size:100%;
    outline:1px solid #000;
    border-left:12px solid #000;
}

.sbqs_c {
    line-height: 14px;
    font-family:var(--font-insert);
}

.sbfl_b {
    display:none;
}

.sbdd_b {
    border: none;
    box-shadow:none;
    cursor: default;
}

/* search page */

#content-section.ytd-channel-renderer {
    display:none;
}

a.ytd-search-refinement-card-renderer {
    border: 1px solid #000;
    border-radius: 12px;
}

#card-title.ytd-search-refinement-card-renderer {
    background-color:var(--yt-spec-general-background-ab);
    outline:1px solid #000;
    color: var(--yt-spec-text-primary);
    padding: 12px 16px 16px;
    height: 24px;
    margin-top:-1px; /* fix, some hole was showing up */
}

#card-title.ytd-search-refinement-card-renderer div.ytd-search-refinement-card-renderer {
    background-color:var(--bg-caramel-1);
    font-size:14px !important;
    padding:5px;
    outline:1px solid #000;
}

ytd-video-renderer[use-prominent-thumbs] ytd-thumbnail.ytd-video-renderer {
    max-width: 200px;
    min-width: 60px;
	height:90px;
}

ytd-search {
    padding: 36px 1px;
    margin-top:-35px;
}

/* share or embed view */

.yt-copy-link-renderer {
    border-left: 1px solid #000;
    background-color: var(--yt-spec-general-background-a);
    font-size:13px;
}

#bar.yt-copy-link-renderer {
     border:1px solid #000;
     background-color:#f8f8f8;
}

#title.yt-share-target-renderer {
    padding:2px;
    outline:1px solid #000;
    background-color:var(--yt-spec-general-background-ab);
    color: var(--yt-spec-text-primary);
    margin-left: 2px;
    width: 63px;
    text-align: center;
}

tp-yt-paper-dialog {
    margin: 24px 40px;
    background: #eee8dd;
    border:5px solid var(--ff-toolbar-bg);
    border-radius:2px;
}

#title.yt-share-panel-title-v15-renderer {
    margin-left:0px;
    color:transparent;
    background-image:url("https://raw.githubusercontent.com/lierante/caramel/main/preview.gif");
    background-size:100%;
    height:260px;
    width:465px;
    border:1px solid #000;
}

yt-copy-link-renderer.yt-third-party-network-section-renderer {
    margin-top:15px !important;
}

yt-start-at-renderer.yt-third-party-network-section-renderer {
    margin-top:-30px !important;
    padding-top: 50px;
    padding-bottom: 10px ;
    border-top: 0px solid var(--yt-spec-10-percent-layer);
}

#start-at-wrapper.yt-start-at-renderer {
 outline:1px solid #000;
    background-color:#f8f8f8;
    padding:6px;
}
