/*
author 		github.com/lierante
repository	github.com/lierante/caramel
created		06/06/2021
published	07/13/2021
license		MIT License
*/

/* note */
/* my english is really bad but ill try
/* this is still incomplete
/* the theme was only meant for me but wanted to share it
/* sorry if the look in the picture doesnt match yours
/* it might be a font or layout problem
/*
/* only firefox is supported, using the css on chrome will have issues
/* if you want the css working on chrome, then contribute
/* you can contribute to improve the code and fix messy stuff here :)
/*
/* download & install the font
/* https://github.com/slavfox/Cozette/releases/download/v.1.11.3/CozetteVector.ttf
*/

:root {
	--bg-caramel: #EEE8DD;
	--font-insert:"CozetteVector";
    --ytd-masthead-height: 30px;
    --yt-spec-general-background:#EEE8DD;
    --yt-spec-general-background-a:#EEE8DD;
}

/* video position */

ytd-watch-flexy:not([theater]):not([fullscreen]) #primary.ytd-watch-flexy, ytd-watch-flexy:not([theater]):not([fullscreen]) #secondary.ytd-watch-flexy {
margin-top:-10px;
}

ytd-watch-flexy[flexy][is-two-columns_][is-extra-wide-video_] #primary.ytd-watch-flexy, ytd-watch-flexy[flexy][is-two-columns_][is-four-three-to-sixteen-nine-video_] #primary.ytd-watch-flexy {
margin-top:-10px;
}

#player.ytd-watch-flexy {
    position: relative;
	outline:1px solid #000000;
}

.ytp-swatch-background-color {
    background-color: #5d915b !important;
}

.title.ytd-video-primary-info-renderer {
    padding:1px;
    font-weight:bold;
    font-size:22px;
    font-family:"Arial";
}

/* main video page */

#container.ytd-masthead {
background: var(--bg-caramel);
height:42px;
}

ytd-app {
background: var(--bg-caramel);
font-family: var(--font-insert) !important;
font-weight: 25;
}

yt-icon {
position:relative;
margin-top: -15;
opacity:0;
}

yt-icon-button {
    display: none;
}

#country-code.ytd-topbar-logo-renderer {
    color: var(--yt-spec-text-secondary);
    margin: 12px 0 0 -10px;
    display:none;
}

ytd-button-renderer #button.ytd-button-renderer {
color: #000000;
opacity:1;
background: var(--bg-caramel);
border:none;
}

#container.ytd-searchbox { 
/* hiding the placeholder has a solution now which is under this css thing */
    border: none;
    opacity: 0.7;
    background-color: var(--bg-caramel);
    /* theater mode input searchbox color */
    --ytd-searchbox-text-color:#000000 !important;
}

::-moz-placeholder {
   color:    #000000;
   opacity:  0;
}

/* end placholder hide solution */

#search-icon-legacy.ytd-searchbox ,#search-icon-legacy.ytd-searchbox:hover {
    display:none;
}

a.ytd-rich-metadata-renderer {
    background-color: #e0dad0;
    border-radius:5px;
}

ytd-mini-guide-renderer.ytd-app {
   display: none;
}

ytd-menu-renderer.ytd-video-primary-info-renderer {
    margin-top:20px;
    background-color: var(--bg-caramel);
}

#sentiment.ytd-video-primary-info-renderer {
/* a line under "like/dislike buttons" */
    display:none;
}

.details.ytd-compact-playlist-renderer {
	border-left:5px solid var(--bg-caramel);
	padding:2px;
}

.details.ytd-compact-radio-renderer {
    width: 100%;
    min-width: 0;
}

ytd-compact-playlist-renderer:not([watch-feed-big-thumbs]) ytd-playlist-thumbnail.ytd-compact-playlist-renderer {
    background-color: #F2CE79;
	outline:1px solid #000000;
}

#description.ytd-video-secondary-info-renderer {
    max-width: 615px;
}

ytd-expander.ytd-video-secondary-info-renderer {
	display:inline;
    margin-left: 64px; /* only works if you take out the display:inline, if you want to stay in the default position
then keep the display:inline */
}

#subscribe-button.ytd-video-secondary-info-renderer {
	opacity:0;
}

#scroll-container.yt-chip-cloud-renderer {
    white-space: nowrap;
    overflow: hidden;
    background-color:var( --yt-spec-general-background);
}

#right-arrow-button.yt-chip-cloud-renderer {
    background: var(--yt-spec-general-background);
}

#right-arrow.yt-chip-cloud-renderer::before {
    background:var(--yt-spec-general-background);
    background: var(--yt-spec-general-background);
    background: var(--yt-spec-general-background);
}

#left-arrow-button.yt-chip-cloud-renderer, #right-arrow-button.yt-chip-cloud-renderer {
    background:var(--yt-spec-general-background);
    background: var(--yt-spec-general-background);
    background: var(--yt-spec-general-background);
}

#left-arrow.yt-chip-cloud-renderer::after {
    background:var(--yt-spec-general-background);
    background: var(--yt-spec-general-background);
    background: var(--yt-spec-general-background);
}

/* comment page */

#vote-count-middle.ytd-comment-action-buttons-renderer {
    border:3px solid #e0dad0;
    display: inline-block;
    margin-left: 5px;
}

#creator-heart-button.ytd-creator-heart-renderer {
	display:table-cell;
	background-size:63%;
	background-image: url("https://c.tenor.com/Yf0qNygeLhMAAAAj/hearts-spin.gif");
	border-radius:1px;
    position: relative;
	bottom:0px;
    width: 13px;
    height:13px;
}

/* movie offer in main video page */

#header.ytd-movie-offer-module-renderer {
    background-color:var(--bg-caramel);
}

#wide-clickable-area.ytd-movie-offer-module-renderer {
    background-color:var(--bg-caramel);
}

/* queue */

ytd-playlist-panel-renderer[collapsible] .header.ytd-playlist-panel-renderer {
	background-color:var(--bg-caramel);
}

.playlist-items.ytd-playlist-panel-renderer {
    background-color:var(--bg-caramel);
    height: 100%;
    padding: 4px 0;
}

/* search page */

#content-section.ytd-channel-renderer {
   border:1px solid #cacaca;
   border-radius:5px;
   background-color:#e0dad0;
   display:none;
}

#subscribe-button.ytd-channel-renderer {
	display:none;
}

yt-img-shadow.ytd-channel-renderer {
    border-radius: 0%;
    height: 136px;
    width: 136px;
	filter:opacity(50%);
}

yt-img-shadow.ytd-video-renderer {
    border-radius: 10%;
	outline:2px solid #000000
}

ytd-channel-renderer[use-prominent-thumbs] #avatar-section.ytd-channel-renderer .channel-link.ytd-channel-renderer {
    -ms-flex-pack: left;
    -webkit-justify-content: left;
    justify-content: left;
	margin-left:-55px;
}

ytd-channel-renderer[use-prominent-thumbs] #info.ytd-channel-renderer {
    padding-left: 0;
	margin-left:-220px;
}

ytd-video-renderer[use-prominent-thumbs] ytd-thumbnail.ytd-video-renderer {
    margin-right: 16px;
    max-width: 180px;
    min-width: 60px;
	height:120px;
}

ytd-playlist-renderer[use-prominent-thumbs] ytd-playlist-thumbnail.ytd-playlist-renderer {
    max-width: 180px;
    min-width: 60px;
	outline:1px solid #000000;
}

ytd-radio-renderer[use-prominent-thumbs] ytd-thumbnail.ytd-radio-renderer {
    max-width: 180px;
    min-width: 60px;
	outline:1px solid #000000;
}

/* youtube gaming page */

ytd-carousel-header-renderer {
    --ytd-default-promo-panel-renderer-height: 300px;
    display: block;
    width: 100%;
    background-color:var(--bg-caramel);
	margin-left:40px;
}

hero.ytd-default-promo-panel-renderer, #scrim.ytd-default-promo-panel-renderer {
    animation: 1.8s cubic-bezier(0.4, 0, 0.2, 1) background-in forwards 1;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 90%;
    opacity: 0;
	display:none;
    position: absolute;
    transform: scale(1);
}

ytd-default-promo-panel-renderer {
    --yt-endpoint-color: var(--yt-spec-static-brand-white);
    --yt-endpoint-hover-color: var(--yt-spec-static-brand-white);
    --yt-video-thumbnail-height: auto;
    --yt-video-thumbnail-width: auto;
    color: var(--yt-spec-static-brand-white);
    display: block;
    height: var(--ytd-default-promo-panel-renderer-height);
    overflow: hidden;
    position: relative;
}

/* channel page */

ytd-page-manager > .ytd-page-manager {
  background-color: var(--bg-caramel);
}

#channel-header.ytd-c4-tabbed-header-renderer {
     background-color: var(--bg-caramel);
}

#text.ytd-channel-name {
    color:#000000;
}

#tabs-inner-container.ytd-c4-tabbed-header-renderer {
    background-color: var(--bg-caramel);
}

#background.tp-yt-app-header {
	display:block;
    left: 50px;
    overflow: hidden;
    border-radius:2px;
}

.banner-visible-area.ytd-c4-tabbed-header-renderer {
    display:block;
    height: 0;
    position: relative;
}

#contents.ytd-item-section-renderer > ytd-exploratory-results-renderer.ytd-item-section-renderer:last-child, #contents.ytd-item-section-renderer > ytd-shelf-renderer.ytd-item-section-renderer:last-child {
    border-bottom:0px solid #cacaca;
}

#link-list-container.ytd-channel-about-metadata-renderer a.yt-simple-endpoint.ytd-channel-about-metadata-renderer {
    color: #4E4E4E;
}

/* home page */ 

#chips.ytd-feed-filter-chip-bar-renderer {
    display: none;
}

#chips-wrapper.ytd-feed-filter-chip-bar-renderer {
   display: none;
}

#contents.ytd-rich-grid-renderer {
    --ytd-rich-grid-items-per-row: 4;
}

ytd-rich-grid-media #video-title.ytd-rich-grid-media {
	/* was called "ytd-rich-grid-media[mini-mode]" */
	margin-left:2px;
	padding:4px;
	outline:1px solid #000000;
	background:#EBEBEB;
	border-radius:8px;
   /* font-size: 0rem; */
	font-weight:200;
font-size:30px;
    line-height: 2rem;
    max-height: 4rem;
}

#details.ytd-rich-grid-media {
background:#e2dbcc;
padding:4px;
border:1px solid #e2dbcc;
background-size:100%;
bottom:-1px;
overflow-y:hidden;
outline:1px solid #000000;
overflow-x:scroll;
scrollbar-color: rgba(238, 232, 221, 0.9) rgba(238, 232, 221, 0.9);

}

#contents.ytd-rich-grid-renderer {
    position:relative;
    margin-top: -15px;
    margin-left: -45px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: center;
    --ytd-rich-grid-items-per-row: 4;
}
#contentContainer.tp-yt-app-drawer {
	background-color:var(--bg-caramel);
}
	
ytd-rich-grid-media[mini-mode] #video-title.ytd-rich-grid-media {
    font-size: 1.3rem;
    line-height: 2rem;
    max-height: 4rem;
}

ytd-banner-promo-renderer {
    background-color: #e0dad0 !important;
}

ytd-banner-promo-renderer.banner-promo-style-type-masthead-v2, .ytd-banner-promo-renderer-background.ytd-banner-promo-renderer {image: none;}
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: top center;
    background-repeat: no-repeat;
	background-color:#e0dad0 !important;
    background-size: auto 260px;
    text-align: left;
    height: 260px;
    max-width: none;
}

ytd-banner-promo-renderer-inline-image, .ytd-banner-promo-renderer {
	background-color:#e0dad0 !important;
}

/* making youtube safer banner */

#content-wrapper.ytd-statement-banner-renderer {
    background-color: var(--bg-caramel) !important;
}

/* links (from description/comment page) */

a.yt-simple-endpoint.yt-formatted-string:visited {
   color:#cacaca;
}

a.yt-simple-endpoint.yt-formatted-string:hover {
   color:#cacaca;
}

a.yt-simple-endpoint.yt-formatted-string {
    color: #4E4E4E;
}

ytd-post-renderer[uses-compact-lockup] {
    background-color: var(--bg-caramel);
    outline:1px solid #000000;
}

ytd-post-renderer[uses-compact-lockup] #dismissible.ytd-post-renderer {
background-color: #e2dbcc;
padding:8px;
width:108%;
margin-left:-24px;
outline:1px solid #000000;
}

#author-thumbnail.ytd-post-renderer yt-img-shadow.ytd-post-renderer {
    width: 32px;
    height: 32px;
    border-radius: 10%;
outline:2px solid #000000;
}

#toolbar.ytd-comment-action-buttons-renderer {
   padding:8px
}

#progress.ytd-thumbnail-overlay-resume-playback-renderer {
/* should be in main video page */
    background-color: #5d915b;
    height: 100%;
}

/* sign in to become a member */

/*beta test */
.buttons.ytd-modal-with-title-and-button-renderer {
  background: #5E5142;
}

/*   live tag */

.badge-style-type-live-now.ytd-badge-supported-renderer, .badge-style-type-starting-soon.ytd-badge-supported-renderer {
    background: transparent;
    color: var(--yt-spec-brand-link-text);
    border: 1px solid #000000;
}

.badge-style-type-live-now.ytd-badge-supported-renderer, .badge-style-type-starting-soon.ytd-badge-supported-renderer {
    color: #000000;
}

ytd-thumbnail-overlay-time-status-renderer[overlay-style="LIVE"] {
    background-color:#e5aaa5 ;
}

#author-photo.yt-live-chat-text-message-renderer {
    display: block;
    margin-right: 16px;
    overflow: hidden;
    border-radius: 10%;
    -ms-flex: var(--layout-flex-none_-_-ms-flex);
    -webkit-flex: var(--layout-flex-none_-_-webkit-flex);
    flex: var(--layout-flex-none_-_flex);
}

yt-live-chat-header-renderer {
    background-color: var(--bg-caramel);
}

#label-text.yt-dropdown-menu {
    color: var(--bg-caramel);
}

html:not(.style-scope)[watch-color-update] {
    --yt-live-chat-background-color: var(--bg-caramel);
    --yt-live-chat-header-background-color: var(--bg-caramel);
    --yt-live-chat-action-panel-background-color: var(--bg-caramel);
    --yt-live-chat-message-highlight-background-color: var(--bg-caramel);
    --yt-live-chat-ninja-message-background-color: var(--bg-caramel);
}

ytd-toggle-button-renderer #button.ytd-toggle-button-renderer {
    color: var(--yt-button-color, inherit);
    background-color: var(--bg-caramel);
    text-transform: inherit;
}

yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer {
    overflow-y:scroll;
    padding-right: 0;
  scrollbar-width:thin;
  scrollbar-color: rgba(25, 25, 25, 0) rgba(255, 255, 255, 0);
}

#card.yt-live-chat-viewer-engagement-message-renderer {
    background-color: var(--bg-caramel);
/*  background-color: var(--yt-live-chat-vem-background-color); */
}

button.yt-icon-button {
   display:block;
}

yt-live-chat-text-message-renderer {
	font-family:var(--font-insert);
    font-size: 13px;
    --yt-endpoint-color: var(--yt-live-chat-primary-text-color, var(--yt-deprecated-luna-black));
    --yt-endpoint-hover-color: var(--yt-live-chat-primary-text-color, var(--yt-endpoint-color));
}

/* thumbnail */

ytd-thumbnail #thumbnail.ytd-thumbnail yt-img-shadow.ytd-thumbnail {
    display: block;
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    height:100%;
    width: 100%;
	outline:2px solid #000000;
	filter:opacity(70%);
}

ytd-thumbnail #thumbnail.ytd-thumbnail {
	/* effects on homepage / channel page, bg color was F2CE79 */
	background-color: var(--bg-caramel);
	/*effects main video page border */
	outline:1px solid #000000;
	width:100%;
}

ytd-thumbnail-overlay-time-status-renderer {
    display: inline-block;
    position: absolute;
    bottom: 0;
    outline:1px solid #000000;
    right: 0;
    left:-8px;
    margin-bottom: -0px;
    color: #4E4E4E;
    background-color: var(--bg-caramel);
    padding: 3px 4px;
    height: 12px;
    width:370px;
    border-radius: 2px;
}

#author-thumbnail.ytd-comment-simplebox-renderer {
    display:none;
}

#avatar.ytd-c4-tabbed-header-renderer {
    border-radius: 10%;
	outline:2px solid #000000;	
}

#avatar.ytd-rich-grid-media {
    border-radius: 10%;
	display:none;
}

#author-thumbnail.ytd-comment-renderer yt-img-shadow.ytd-comment-renderer{
    border-radius: 10%;
	outline:2px solid #000000;
}

#avatar.ytd-video-owner-renderer {
    border-radius: 10%;
	outline:2px solid #000000;
}

ytd-author-comment-badge-renderer {
 width:98%;
 background-color: #e2dbcc;
}

/* guide */

#guide-wrapper.ytd-app {
overflow:hidden;
background: var(--bg-caramel);
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display:none;
}
